@import "tailwindcss";
/* index.css 
@keyframes animate-gradient {
  to { background-position: 200%; }
}

.gradient-text {
  background: linear-gradient(to right,#00aaa7, #7e42a7, #6070fd, #0099ff);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 3s linear infinite;
}

.autoBlur {
  animation: blurAnimation linear both;
  animation-timeline: view();
}

@keyframes blurAnimation {
  0% { filter: blur(40px); opacity: 0; }
  45%, 55% { filter: blur(0); opacity: 1; }
  100% { filter: blur(40px); opacity: 0; }
}*/
html {
  scroll-behavior: smooth;
}

.gradient {
  background: linear-gradient(
    to right,
    #00aaa7,
    #7e42a7,
    #6600c5,
    #6070fd,
    #2a46ff,
    #0099ff,
    #008ead
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}
